<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <p>
            Dear <%= @user.name.present? ? @user.name : @user.username %>,
        </p><br/>
        <p>
            Your admin request to NetWorkOut has been granted. Log in to see your new abilities, but remember that with great power comes great responsibilities, and only edit other users content if it is offensive or erroneous.
        </p><br/>
        <p>
            Kind regards,
        </p><br/>
        <p>
            The NetWorkOut Team
        </p>
    </body>
</html>