<div class="card mb-4 bg-light shadow-sm" style="min-width: 18rem;">
    <h4><%= workout_exercise.exercise.name %></h4>
    <h4><%= workout_exercise.sets %></h4>
    <h4><%= workout_exercise.reps %></h4>
</div>