<div class="text-center py-4 my-4">
    <h1>Welcome to NetWorkOut</h1>
    <p class="lead">Follow the links in the navbar to start exploring workouts, exercises and muscles</p>
</div>


<div class="col-sm-9 mx-auto">
    <div class="card mb-3 bg-light">
        <div class="card-body">
            <h3 class="text-center">Featured workout</h3>
        </div>
    </div>

    <%= render @workout %>
</div>