<div class="text-center py-4 my-4">
</div>
<div class="text-center py-4 my-4">
    <h1>Sorry the route  <%= current_uri %> does not currently exist...</h1>
    <p class="lead">Follow the links in the navbar to start exploring workouts, exercises and muscles</p>
</div>