<div class="card mb-4 bg-light shadow-sm <%= "border-warning" if starred?(exercise) %>" style="min-width: 18rem;">
    <a class="text-dark card-link" href="<%= exercise_path(exercise) %>">
    <div class="card-body text-center">
        <h4 class="card-heading"><%= exercise.name %></h4>
    </div>
    </a>
</div>